/* Font For Headings Bree Serif */
@import url('https://fonts.googleapis.com/css?family=Bree+Serif');
/* Font FOr Paragrah roboto Condensed */
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
h1{
    font-family: 'Bree Serif', serif;
}
p{
    font-family: 'Roboto Condensed', sans-serif;
}
.max-width{
    max-width: max-content;
}

/********************************************************************/

/* Common CSS */
.my-6{
    margin-top: 120px;
}
*{
    padding : 0;
    margin: 0;
}
.bg{
    background: url('./images/bg.jpg');
    height: 100vh;
    background-size: cover;
    filter: brightness(70%) blur(1.5px);
    background-attachment: fixed;
}

/********** CSS For Home Section **************/

@keyframes name-anim{
    0%{
        transform: rotate(180deg);
        opacity: 0;
    }
    40%{
        transform: rotate(250deg);
        opacity: 0.2;
    }
    74%{
        transform: rotate(300deg);
        opacity: 0.8;
    }
    100%{
        transform: rotate(360deg);
        opacity: 1;
    }
}

@keyframes op{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0.5;
        }
        100%{
            transform: rotate(xx);
            opacity: 1;
        }
    }
    .home-section{
        position: absolute;
        top : 50%;
        left : 50%;
        transform: translate(-50% , -50%)
    }
    .home-section h1{
        color : white;
        font-size: 3.4em;
        color : #1B9CFC;
        animation: name-anim 3s 1 0s linear;
    }
    .home-section p{
        color : white;
        font-size: 1.3em;
        text-align: center;
        opacity: 0;
        animation: op 3s 1 2s forwards
    }